.footer{
    @include contenedor;
    min-height: auto;
    padding: $space-relation 0;

    &__contenido{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        row-gap: $space-relation;
    }

    &__logo{
        font-family: $font-family-title;
        font-size: $font-size-title;

        z-index: $z-tooltip;
    }
}