@mixin div{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;   

    display: flex;
    align-items: center
}

@mixin lista{
    padding-left: 0;

    display: flex;
    gap: $space-relation;

    align-items: center;

    & > li{
      list-style-type: none;  
    }
}

.header{
    @include contenedor;

    width: 100vw;
    min-height: 0;
    height: var(--height-header);

    padding: 0;

    position: fixed;
    top: 0;
    background-color: aquamarine;
    
    z-index: $z-fixed;

    &__contenido{
        position: relative;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo-div{
        @include div;
        justify-content: center;
    }

    &__hamburguesa-div{
        @include div;
    }

    &__logo{
        font-family: $font-family-title;
        font-size: $font-size-title;

        z-index: $z-tooltip;
    }

    &__lista{
        @include lista;
    }
}

.nav{
    z-index: $z-modal;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    @include contenedor;

    padding: 0;

    background-color: aquamarine;
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/

    transition: transform 1s linear;
    transform: translateX(-100vW);

    &__contenido{
        display: block;
        position: relative;
        height: 100%;
    }

    &__header{
        position: relative;
        z-index: 10;
        
        display: flex;
        align-items: center;
        height: var(--height-header);
    }

    &__lista{
        @include lista;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &--activo{
        transform: none;
    }
}