.main{
    @include contenedor;

    margin-top: var(--height-header);
    flex-direction: column;
    
    background-attachment: fixed;
    background-image: url("./src/img/cover.jpeg");
    background-color: rgb(141, 141, 141);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
