.main{
    @include contenedor;

    margin-top: var(--height-header);
    flex-direction: column;

    background-image: url("./src/img/jmodels cover.jpeg");
    background-color: rgb(141, 141, 141);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
