.segunda-section{
    @include contenedor;
    background-color: lightblue;

    &__contenido{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, minmax(237px, auto));
        grid-template-areas: "tarjeta tarjeta";

         @media screen and (max-width: 600px){
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, minmax(237px, auto));
            grid-template-areas: "tarjeta"
                                 "tarjeta";            
        }

        & > *{
            @include center;
            padding: $space-relation;
            background-color: azure;
            border-radius: 30px;
        }
    }

    &__tarjeta{
        flex-direction: column;
        grid-area: tarjeta;
    }
}

