@import "normalize";

   /*z-index*/
$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;



   /*fonts weight*/
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;



    /*font´s size*/
$font-size-title: 32px;
$size-size-normal: 14pt;

    /*space*/
$space-relation: 1rem;
$space-noRelation: 2rem;


$font-family-title: 'Pacifico', cursive;
$font-family-normal: 'Rubik', sans-serif;

*{
    margin: 0;
    box-sizing: border-box;
    font-family: $font-family-normal;
}

:root{
    --height-header: 60px;
    @media screen and (max-width: 600px){
        --width-conteiner: 90%;
    } 

    @media screen and (max-width: 992px){        
        --width-conteiner: 85%;
    }

    @media screen and (min-width: 993px){        
        --width-conteiner: 70%;
    }
}

@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin contenedor{
    display: flex;

    min-height: calc(100vh - var(--height-header));
    padding: $space-noRelation 0;

    justify-content: center;
    align-items: center;

    &__contenido{
        position: relative;
        flex: 0 0 var(--width-conteiner);
    }
}

@import "header";
@import "main-section";
@import "primera-section";
@import "segunda-section";
