<footer class="footer">
    <div class="footer__contenido">
        <article class="footer__contacto">
            <h3>Contacto</h3>
            <div>
                <a href="tel:">
                    <span class="icon">d</span> +540000000000
                </a>
                <a href="email:">
                    <span class="icon">e</span> agenciafalsa@gmail.com
                </a>
            </div>
        </article>
        <article class="footer__redes">
            <h3>
                Redes
            </h3>
            <ul>
                <li>
                    <a href=""><span class="icon">a</span></a>
                </li>
                <li>
                    <a href=""><span class="icon">i</span></a>
                </li>
                <li>
                    <a href=""><span class="icon">b</span></a>
                </li>
            </ul>
        </article>
        <article class="footer__form">
            <h3>
                ¡Trabaja con nosotros!
            </h3>
            <a href="https://juanman.wufoo.com/forms/z1j83afr1kl0fb0/" target="_blank" class="call-to-action">Quiero hacerlo</a>
        </article>
        <div class="footer__autor">
            <h2 class="footer__logo">JModels</h2>
            <p>Una pagina hecha por <a href=""><span class="icon">a</span> @Juanma_Blogs</a></p>    
        </div>
    </div>
</footer>