---
import Layout from "../layout/Layout.astro";
---

<Layout>
        <div class="main">
        </div>
        <section class="segunda-section">
            <div class="segunda-section__contenido">
                <header class="segunda-section__tarjeta">
                    <h2>Trabajos/Modelos</h2>
                    <p>Y mas cosas que nos enorgullese decir...</p>
                </header>
                <article>
                    <h3></h3>
                </article>
                <article>
                    <h3></h3>
                </article>
                <article>
                    <h3></h3>
                </article>
                <article>
                    <h3></h3>
                </article>
            </div>
        </section>
</Layout>
