---
import Layout from "../layout/Layout.astro";
---

<Layout>
    <div class="container mx-auto p-3 flex justify-center items-center">
        <section class="basis-full md:basis-3/4 lg:basis-2/3 grid grid-cols-1 md:grid-cols-2 gap-3 justify-items-center">
                <header class="col-span-full">
                    <h2>Trabajos/Modelos</h2>
                    <p>Y mas cosas que nos enorgullese decir...</p>
                </header>
                <article>
                    <h3></h3>
                </article>
                <article>
                    <h3></h3>
                </article>
                <article>
                    <h3></h3>
                </article>
        </section>
    </div>
</Layout>
