---
import { Header } from "../assets/js/components/Header";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/styles.css">
    <title>JModels</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    
    <meta name="author" content="Juan María Mancedo">
    <meta name="description" content="Sitio web hecho para el portafolio de Juan María Mancedo">
    <meta name="distribution" content="global"> 
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />        
    <meta name="theme-color" content="#FF423C" />
    <meta property="og:title" content="JModels">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://jmodels.netlify.com/">
    <meta property="og:image" content="https://jmodels.netlify.com/img/cover.jpg">
    <meta property="og:description" content="Sitio web hecho para el portafolio de Juan María Mancedo">
    <meta property="og:locate-alternate" content="es_ES">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="JModels">
    <meta name="twitter:description" content="Sitio web hecho para el portafolio de Juan María Mancedo">
    <meta name="twitter:image" content="https://jmodels.netlify.com/img/cover.jpg">
    <meta name="twitter:image:alt" content="Logo de JModels">
</head>
<body>
    <Header client:only/>
    <div class="pt-14 bg-gradient-to-r from-cyan-500 to-blue-500">
        <div class="pt-3 min-h-screen flex flex-col justify-between gap-4 ">
            <div class="flex flex-col justify-center items-center grow">
                
                <slot/>

            </div>
            <Footer />
        </div>
    </div>
    <script src="https://hammerjs.github.io/dist/hammer.min.js"></script>
</body>
</html>